fastapi
uvicorn
sqlalchemy
google-generativeai==0.8.6
huggingface_hub
pgvector
numpy
python-multipart
python-dotenv
openai
pymupdf
psycopg2-binary
python-magic
pytesseract
faster-whisper
groq
pyttsx3
gTTS
pydub
tiktoken
langgraph
sentence-transformers
pydantic
pydantic-settings
python-pptx
python-docx
beautifulsoup4
markdown
psycogreen
gevent
requests
